.work-container {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.work {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}

.work .work-item:not(:last-child) {
  margin-right: 30px;
}

.work-item {
  width: 370px;
  height: 294px;
}

.work-link {
  position: relative;
  padding: 0;
}

.work-title {
  position: absolute;
  height: 70px;
  width: 370px;
  margin: 0;

  bottom: 0;

  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;

  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: $special-text-color;
  text-decoration: none;
}
